body{
    background: gold;
    padding: 5px;

}
td{
    background : gold;
    padding: 5px;

}
th{
    background: purple;
    color: white;
    padding: 5px;
}
input{
    height: 40px;
    width: 400px;
}
button{
    height: 40px;
    width: 50px;
    background:purple;
    color: white;
}